:root {
    --button-color: #f9f5f4;
    --primary-color: #957fef;
    --primary-accent: #7161ef;
    --secondary-color: #dec0f1;
    --secondary-accent: #b79ced;
}

/* General && Typrography*/

* {
    box-sizing: border-box;
    font-family: "Jetbrains Mono";
    font-size: 18px;
}

body {
    height: 80vh;
    position: relative;
    margin: 0;
    padding: 0;
    background-image: url(./sprites/page-background.png);
}

/* Header */
header {
    margin: 0.5rem auto;
    margin-top: 4px;
    background-color: var(--secondary-color);
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 2px solid var(--secondary-accent);
    border-radius: 64px;
    width: 110rem;
}

h2 {
    text-align: center;
    font-size: 1.75rem;
}

 /* Main */

 main {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 section:first-child {
    height: 90vh;
    display: grid;
    grid-template-columns: 24rem 1fr;
    gap: 1rem;
 }

aside {
    padding: 1rem;
    text-align: center;

    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 2px solid var(--secondary-accent);
}

.image-aside-container {
    border: 2px solid var(--secondary-accent);
    border-radius: 8px;
    width: 180px;
    padding: 8px;
 
    margin: 0 auto;
}

#start-button {
    margin: 0 auto;
    justify-self: center;
    align-self: center;
}

#game-board {
    display: flex;
    justify-content: center;
    max-width: 100rem;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 2px solid var(--secondary-accent);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80rem;
}

.card-front { 
    display: none;
    width: 16rem;
    margin: 1rem;
    cursor: pointer;
}

.card-back {
    width: 16rem;
    height: 375px;
    margin: 1rem;
    border: 3px solid white;
    border-radius: 16px;
    cursor: pointer;
}

/* end game popup */
#popUp {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8rem;
    background-color: var(--secondary-color);
    padding: 8px 24px 24px 24px;
    border: 2px solid var(--secondary-accent);
    border-radius: 8px;
}

button{
    padding: 0.5rem 1rem;
    background-color: var(--button-color);
    border: 1px solid var(--secondary-accent);
    box-shadow: 2px 1px 1px var(--primary-accent);
    border-radius: 8px;
    width: 160px;
    cursor: pointer;
}

#restartGame{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}