:root {
    --background-color: #efd9ce;
    --primary-color: #957fef;
    --primary-accent: #7161ef;
    --secondary-color: #dec0f1;
    --secondary-accent: #b79ced;
}

/* General && Typrography*/

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

header {
    margin: 8px;
    background-color: var(--secondary-color);
    height: 4rem;

    border: 2px solid var(--secondary-accent);
    border-radius: 64px;
}